body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    padding: 5rem;

    transition: background 0.3s linear,
    color 0.3s linear;
}

body.dark {
    background-color: black;
    color: white;
}

label {
    user-select: none;
    background-color: rebeccapurple;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
}

.toggle-container {

    position: fixed;
    top: 10px;
    right: 10px;
   
}

body.dark label {
    background-color: aliceblue;
}

input {
    visibility: hidden;
}
